zitadel:
  initJob:
    command: zitadel
  zitadel:
    masterkeySecretName: zitadel
    configSecretName: zitadel
    configSecretKey: config
  ingress:
    enabled: true
    className: nginx
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "GRPCS"
      cert-manager.io/cluster-issuer: "letsencrypt"
      kubernetes.io/tls-acme: "true"
      nginx.ingress.kubernetes.io/configuration-snippet: |
        grpc_set_header Host $host;
        more_clear_input_headers "Host" "X-Forwarded-Host";
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Host $http_x_forwarded_host;
        nginx.ingress.kubernetes.io/server-snippet: "grpc_buffer_size 8k;"
    hosts:
      - host: sso.dietz.dev
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: sso-dietz-dev
        hosts:
          - sso.dietz.dev
  login:
    ingress:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt"
        kubernetes.io/tls-acme: "true"
      hosts:
        - host: sso.dietz.dev
          paths:
            - path: /ui/v2/login
              pathType: Prefix
      tls:
        - secretName: sso-dietz-dev
          hosts:
            - sso.dietz.dev
