zitadel:
  zitadel:
    masterkey: kJba3qRAbwW2A4jBnsdPb9qEmhUuUvha

  ingress:
    # If true, creates an Ingress resource for the ZITADEL service.
    enabled: true
    # A chart-specific setting to enable logic for different controllers.
    # Use "aws" to generate AWS ALB-specific annotations and resources.
    controller: generic
    # The name of the IngressClass resource to use for this Ingress.
    # Ref: https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-class
    className: nginx
    # A map of annotations to apply to the Ingress resource. The default annotation
    # is for NGINX to correctly handle gRPC traffic.
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "GRPC"
    # A list of host rules for the Ingress. Each host can have multiple paths.
    hosts:
      - host: sso.dietz.dev
        paths:
          - path: /
            pathType: Prefix
    # TLS configuration for the Ingress. This allows you to secure the endpoint
    # with HTTPS by referencing a secret that contains the TLS certificate and key.
    tls:
      - secretName: zitadel-cert
        hosts:
          - sso.dietz.dev

  login:
    ingress:
      # If true, creates an Ingress resource for the Login UI service.
      enabled: true
      # The name of the IngressClass resource to use for this Ingress.
      # Ref: https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-class
      className: nginx
      # A chart-specific setting to enable logic for different controllers.
      # Use "aws" to generate AWS ALB-specific annotations.
      controller: generic
      # A map of annotations to apply to the Login UI Ingress resource.
      annotations: {}
      # A list of host rules for the Ingress. The default path targets the login UI.
      hosts:
        - host: sso.dietz.dev
          paths:
            - path: /ui/v2/login
              pathType: Prefix
      # TLS configuration for the Ingress. Secure the login UI with HTTPS by
      # referencing a secret containing the TLS certificate and key.
      tls:
        - secretName: zitadel-cert
          hosts:
            - sso.dietz.dev
